/extract-resume-api/.phpunit.cache
/extract-resume-api/node_modules
/extract-resume-api/public/build
/extract-resume-api/public/hot
/extract-resume-api/public/storage
/extract-resume-api/storage/*.key
/extract-resume-api/vendor
/extract-resume-api.env
/extract-resume-api.env.backup
/extract-resume-api.env.production
/extract-resume-api.phpunit.result.cache
/extract-resume-apiHomestead.json
/extract-resume-apiHomestead.yaml
/extract-resume-apiauth.json
/extract-resume-apinpm-debug.log
/extract-resume-apiyarn-error.log
/extract-resume-api/.fleet
/extract-resume-api/.idea
/extract-resume-api/.vscode


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

extract-resume-front-end/node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
